@{
    ViewBag.Title = "Inicio";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bienvenido a la Aplicación de Productos</h1>
    <p class="lead">Usa el menú para explorar los productos disponibles.</p>
</div>
